In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('flats_full.csv')

In [3]:
df.shape

(2044, 14)

In [4]:
df.head()

,index,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Unnamed: 0,header,rent,currency,landlord,landlord_type,stations,distances,main_params,extra_params,street_address,date,address,deal
1,/moskva/kvartiry/1-k_kvartira_40_m_412_et._110...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[],NaN,NaN,NaN
2,/moskva/kvartiry/1-k_kvartira_39_m_522_et._107...,"1-к квартира, 39 м², 5/22 эт.",35000,RUB,\n\n Илья\n \n,Арендодатель,"['Хорошево', 'Зорге', 'Октябрьское поле']","[' 2,9\t км', ' 3,1\t км', ' 2,9\t км']","[' Этаж: 5 ', ' Этажей в доме: 22 ', ' Тип дом...","['2 спальных места', '1 кровать', 'Телевизор',...","['\n Москва, Карамышевская набережная, 60, под...",\n 18 декабря в 09:02,"\n Москва, Карамышевская набережная, 60, подъе...",залог 35 000 ₽
3,/moskva_zelenograd/kvartiry/1-k_kvartira_40_m_...,"1-к квартира, 40 м², 5/17 эт.",20000,RUB,\n\n Финист\n \n,Агентство,[],[],"[' Этаж: 5 ', ' Этажей в доме: 17 ', ' Тип дом...","['1 спальное место', 'Wi-Fi', 'Телевизор', 'Пл...","['\n Москва, Зеленоград, к1509\n ']",\n 27 декабря в 13:13,"\n Москва, Зеленоград, к1509\n","залог 10 000 ₽, комиссия 14 000 ₽"
4,/moskva/kvartiry/studiya_56_m_29_et._126613538,"Студия, 56 м², 2/9 эт.",80000,RUB,\n\n Наталья\n \n,Агентство,"['Баррикадная', 'Улица 1905 года', 'Краснопрес...","[' 1,5\t км', ' 500\t м', ' 1,2\t км']","[' Этаж: 2 ', ' Этажей в доме: 9 ', ' Тип дома...","['2 спальных места', '1 кровать', 'Wi-Fi', 'Те...","['\n Москва, ул. 1905 года, 5\n ']",\n 10 декабря в 23:02,"\n Москва, ул. 1905 года, 5\n","залог 80 000 ₽, комиссия 32 000 ₽"

In [5]:
header = df.iloc[0,:]
df.columns = header
df = df.rename(columns={'Unnamed: 0':'url'})
df = df.drop([0,1])
df = df.reset_index(drop=True)

In [6]:
df =df.replace('[]', None)

In [7]:
df[df.currency.isnull() ==True]

,url,header,rent,currency,landlord,landlord_type,stations,distances,main_params,extra_params,street_address,date,address,deal
810,/moskva/kvartiry/1-k_kvartira_44_m_410_et._183...,NaN,NaN,NaN,NaN,NaN,"['Бибирево', 'Селигерская', 'Алтуфьево']","[' 6,4 км', ' 7,8 км', ' 4,5 км']","[' Этаж: 2 ', ' Этажей в доме: 17 ', ' Тип дом...","['3 спальных места', '1 кровать', 'Wi-Fi', 'Те...","['\n Москва, 9-я Северная линия, 1к3\n ']",NaN,NaN,NaN
1553,/moskva/kvartiry/1-k_kvartira_33_m_59_et._1876...,NaN,NaN,NaN,NaN,NaN,"['Технопарк', 'Коломенская']","[' 2,3 км', ' 1,2 км']","[' Этаж: 12 ', ' Этажей в доме: 12 ', ' Тип до...","['1 спальное место', '1 кровать', 'Wi-Fi', 'Те...","['\n Москва, Кленовый б-р, 25к1\n ']",NaN,NaN,NaN
1997,/moskva/kvartiry/1-k_kvartira_41_m_1517_et._70...,NaN,NaN,NaN,NaN,NaN,"['Текстильщики', 'Волжская', 'Печатники']","[' 2,4 км', ' 2,2 км', ' 800 м']","[' Этаж: 24 ', ' Этажей в доме: 25 ', ' Тип до...","['Wi-Fi', 'Телевизор', 'Плита', 'Микроволновка...","['\n г Москва, ул Гурьянова, д 17 к 2\n ']",NaN,NaN,NaN